.ft-product {
  color: #fff;
  border-radius: 0.5rem;
  & > :not(img) {
    position: relative;
  }

  &.big {
    min-height: 100%;
    padding-bottom: 63%;
  }
  &.small {
    padding-bottom: 78%;
  }
  &.long {
    padding-bottom: 27%;
  }

  overflow: hidden;
  cursor: pointer;
  img {
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
  }
  &-row {
    margin: -0.25rem;
  }
}
