.ft-product {
  color: #fff;
  & > :not(img) {
    position: relative;
  }

  &.big {
    min-height: 100%;
  }
  &.small {
    padding-bottom: 100%;
  }
  &.long {
    padding-bottom: 50%;
  }

  overflow: hidden;
  cursor: pointer;
  img {
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
  }
}
