header {
  background: $bg-primary;
  color: #fff;

  box-shadow: 0 3px 12px rgb(0 0 0 / 20%);
  .product-cat {
    line-height: 1.5rem;
    margin-right: 1.75rem;
    font-size: 15px;
    font-weight: 500;
    padding: 0.5rem 0;
    white-space: nowrap;
    &.-active {
      font-size: 15px;
      font-weight: 700;
      color: $primary !important;
    }
    &s {
      border-top: 1px solid rgba(255, 255, 255, 0.15);
    }
  }

  .top {
    svg {
      color: $primary;
      font-size: 1rem;
    }
  }

  .logo {
    width: auto;
    height: 3.25rem;
  }

  nav {
    a {
      font-weight: 700;
      opacity: 0.8;
      transition: all 0.3s;
      position: relative;
      padding: 0.25rem 0.125rem;
      white-space: nowrap;
      &::after {
        content: '';
        transition-property: background-color, border-color, color, fill, stroke,
          opacity, box-shadow, transform, filter, backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        transform: translateX(0) translateY(0.25rem) rotate(0) skewX(0) skewY(0)
          scaleX(1) scaleY(1);
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 0.125rem;
        background-color: $primary;
        opacity: 0;
      }
      &:hover {
        opacity: 1;
      }
      &.-active {
        opacity: 1;
        &::after {
          opacity: 1;
          transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0)
            scaleX(1) scaleY(1);
        }
      }
    }
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  height: 12rem;
  overflow: hidden;
  .product-cats {
    transform: translateY(0);
  }
  &.down {
    height: 5.25rem;
    .product-cats {
      transform: translateY(-100%);
      z-index: -1;
      position: relative;
    }
  }
}

.header-dropdown-overlay {
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.75rem;
  min-width: 438px;
}

.notification,
.cart-btn,
.search-btn {
  overflow: visible;
  transition: 0.3s background-color;
  color: #fff;
  &.btn {
    padding: 0.5rem;
  }
}

.profile-btn.btn {
  border: 2px solid #fff;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  img {
    border-radius: 50%;
  }
}

.search-btn.btn,
.cart-btn.btn {
  & > svg {
    .-secondary {
      fill: $primary;
    }
    .-primary {
      fill: #fff;
      transition: all 0.2s ease;
    }
  }
}
.search-btn.btn {
  & > svg {
    margin: 0.125rem;
    font-size: 1.5rem;
  }
}

.cart-btn.btn {
  & > svg {
    font-size: 1.75rem;
  }
  .badge {
    top: initial;
    right: 0rem;
    bottom: 0rem;
    background-color: $success;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.65rem;
    font-weight: 700;
    min-width: 1.35rem;
    min-height: 1.35rem;
    svg {
      font-size: 0.5rem;
    }
  }
  &-items {
    max-height: 270px;
  }
}

.container-progress {
  background-color: rgb(192, 192, 192);
  width: 100%;
  border-radius: 15px;
}

.done {
  background-color: $dark-green;
  color: white;
  padding: 2%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
}
