footer {
  font-weight: 500;
  .-content {
    background-color: $bg-primary;
    color: #fff;

    .container {
      position: relative;
      z-index: 1;
    }
    img {
      object-fit: cover;
    }
  }

  a {
    display: block;
  }
  .btn.naked {
    padding: 0.5rem;
    border-radius: 50%;
    background: #fff;
    font-size: 0.875rem;
    svg {
      min-width: 0.875rem;
    }
  }
  .footer-title {
    text-transform: uppercase;
  }
}
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  transition: all 200ms ease-in-out 0s;
  &.fixed {
    bottom: 0;
  }
  &-item {
    color: $mid-gray;
    padding: 0.75rem;
    overflow: visible;
    width: 5rem;
    position: relative;
    flex-direction: column;
    svg {
      font-size: 1.5rem;
    }
    small {
      font-size: 11px;
      padding-top: 0.25rem;
      white-space: nowrap;
    }
    &.-active {
      color: $blue;
      small {
        font-weight: 600;
      }
      &::after {
        content: '';
        width: 100%;
        position: absolute;
        height: 3px;
        background: $blue;
        left: 0;
        bottom: 0;
        border-radius: 3px;
      }
    }
  }
  &.down {
    bottom: -5.5rem;
  }
}
.layout {
  min-height: 100vh;
  padding-top: $header-height;
}

.erxes-embedded-iframe {
  box-shadow: none !important;
  border-radius: 0 !important;
  background-color: #fff !important;
  min-height: 100%;
}
