footer {
  .-content {
    background-color: $bg-primary;
    color: #fff;
    min-height: 350px;
    .container {
      position: relative;
      z-index: 1;
    }
    img {
      object-fit: cover;
    }
  }

  a {
    display: block;
    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }
  .btn.naked {
    padding: 0.75rem;
    border-radius: 50%;
    background: #fff;
    font-size: 1.15rem;
  }
}
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
  transition: all 200ms ease-in-out 0s;
  &.fixed {
    bottom: 0;
  }
  &-item {
    color: $mid-gray;
    padding: 0.75rem;
    overflow: visible;
    width: 5rem;
    position: relative;
    svg {
      font-size: 1.75rem;
    }
    small {
      font-size: 11px;
      padding-top: 0.25rem;
      white-space: nowrap;
    }
    &.-active {
      color: $blue;
      small {
        font-weight: 600;
      }
      &::after {
        content: '';
        width: 100%;
        position: absolute;
        height: 3px;
        background: $blue;
        left: 0;
        bottom: 0;
        border-radius: 3px;
      }
    }
  }
}
.layout {
  min-height: calc(100vh - 8.75rem - 1px);
}
