.cart {
  width: 100vw;
  max-width: 28rem;
  small {
    font-size: 13px;
  }

  &-header {
  }
  .row {
    color: #000;
    .items-stretch {
      height: 100%;
    }
  }
  img {
    object-fit: contain;
  }
  .img-wrap {
    background: $bg-gray;
  }
  &-delete.btn {
    flex: 0 0 auto;
    color: $mid-gray;
    font-size: 1.15rem;
    padding: 0.5rem 0.75rem;
    &:hover {
      color: $danger;
      background: rgba($color: $red, $alpha: 0.12);
    }
  }
  &-clean.btn {
    font-weight: 400;
    padding: 0.25rem 0.5rem;
    border-radius: 0;
    font-size: 0.875rem;
    &:hover {
      background: transparent;
    }
  }
  &-item,
  &-header {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
  &-item-title {
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    color: $blue;
  }
  &-footer {
    .btn.flat {
      background: $blue;
      width: 100%;
      border-radius: 0.35rem;
      padding: 0.6rem;
      font-size: 13px;
      font-weight: 700;
    }
  }
}
