.counter1 {
  background: rgba($color: $blue, $alpha: 0.18);
  border-radius: 1rem;

  .btn.ghost {
    color: $blue;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    height: 2.5rem;
    &:disabled {
      background: transparent;
      opacity: 0.7;
    }
  }
  input {
    max-width: 2rem;
    margin: 0.25rem;
    height: 100%;
    font-weight: 700;
    color: $blue;
    font-size: 13px;
    border-color: transparent;
    &:focus {
      border-color: $blue;
    }
  }
}
