.form-item {
  position: relative;
  padding-bottom: 1rem;
  font-size: 14px;
  label {
    font-weight: 400;
    font-size: inherit;
    margin-bottom: 0.25rem;
    &.required {
      &::before {
        content: '* ';
        color: $danger;
      }
    }
  }

  .-pass {
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    padding: 0 0.75rem;
    font-size: 1.5rem;
  }
  &.error {
    input,
    textarea {
      border-color: $danger;
    }
    label {
      color: $danger;
    }
  }
  small {
    position: absolute;
    left: 0;
    bottom: 0.25rem;
  }
  &.checkbox-holder {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 0;
    .relative {
      margin-top: 0.5rem;
      padding-right: 1rem;
      input {
        transform: scale(1.5);
        accent-color: $blue;
      }
    }
    // align-items: center;
    label {
      font-weight: 400;
      margin-bottom: 0;
      a {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}
