.form-item {
  position: relative;
  padding-bottom: 1.5rem;
  label {
    font-weight: 600;
  }
  input,
  textarea {
    padding: 1rem;
  }
  &.error {
    input,
    textarea {
      border-color: $danger;
    }
    label {
      color: $danger;
    }
  }
  small {
    position: absolute;
    left: 0;
    bottom: 0.25rem;
  }
}
