input,
textarea {
  border: 1px solid $blue;
  padding: 0.75rem;
  border-radius: 1.5rem;
  font-weight: 500;
  display: block;
  width: 100%;
  &:focus {
    border-color: $blue;
    outline: 0;
  }
  &::placeholder {
    font-family: inherit;
  }
}
