.-pay-btn {
  padding: 0.5rem 1.75rem;
}

.confirm-page {
  .section {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    h6 {
      font-size: 16px;
      color: #616e7c;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #e5e5e5;
    }
    big.block {
      font-size: 16px;
    }
  }
  &.order {
  }
}

.order-btn-row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.order-back {
  font-size: 14px;
  color: #0a107b;
  text-align: center;
  margin-top: 1rem;
  position: relative;
  cursor: pointer;
  svg {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    text-decoration: underline;
    svg {
      left: 23%;
      transition: all 0.3s ease-in-out;
    }
  }
}
