.product {
  position: relative;
  display: block;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  * {
    transition: inherit;
  }
  .img-wrap {
    aspect-ratio: 1.1;
    background: rgb(250, 250, 250);
    img {
      object-fit: contain;
    }
  }
  &-name {
    font-weight: 600;
    color: $bg-primary;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .product-badge {
    position: static;
    padding: 4px 12px;
    height: auto;
    transform: none;
    border: 0;
    border-radius: 0.25rem;
    color: #fff;
    z-index: 1;
    background-color: $dark-green;
  }
  &-price {
    color: $bg-primary;
    font-weight: 600;
  }
}
