.product-count {
  border: 1px solid $br-gray;
  border-radius: 0.5rem;
  min-height: 44px;
  max-width: 120px;
  .btn,
  .rc-input {
    min-height: 100%;
  }
  .btn {
    box-shadow: none;
  }
  .rc-input {
    border-width: 0 1px;
    padding: 0;
    cursor: initial;
    &:hover,
    &:focus-within {
      border-color: $br-gray;
    }
  }
  .col-7 {
    width: 31%;
  }
  .col-10 {
    width: 38%;
  }
  .btn {
    padding: 4px 0;
    text-align: center;
    width: 100%;
    color: rgba($color: #000, $alpha: 0.75);
  }
}
