$primary: #febe0b;
$warning: #ffc82c;
$bg-primary: #39394d;
$shade-gray: #a2a9b0;
$mid-gray: #616e7c;
$gray: #888a92;
$bg-gray: #f3f5f6;
$br-gray: #cbd2d9;
$blue: #0a107b;
$danger: #ff405c;
$success: #4caf50;
$purple: #725eee;
$red-orange: #ee845e;
$red: #ff3c38;
$dark-green: #187d59;

$hr: 1px solid
  rgba(
    $color: #000000,
    $alpha: 0.08
  );

$header-height: 9.75rem;
