.ft-cats {
  overflow: hidden;
  .row {
    overflow: hidden;
  }
  img {
    object-fit: contain;
  }
  .-item {
    max-width: 200px;
    &-title {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.75rem;
      color: $bg-primary;
    }
  }
}

.cat-banner {
  .-banner {
    min-height: 100%;
    overflow: hidden;
    img {
      object-fit: cover;
    }
    & > img:last-of-type {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -webkit-transition: opacity 0.5s ease-in-out;
    }
    &:hover > img:last-of-type {
      opacity: 0;
    }
  }
  .-header {
    border: 1px solid $bg-gray;
  }
}

.banner-slider {
  .-slide {
    overflow: hidden;
    border-radius: 1rem;
    min-height: 100%;
    &::before {
      padding-bottom: 38%;
    }
    img {
      object-fit: cover;
      object-position: center;
    }
  }

  .slick-dots {
    position: absolute;
    display: inline-flex !important;
    bottom: 1rem;
    line-height: 1;
    left: 50%;
    transform: translateX(-50%);
    li {
      padding: 0 0.25rem;
      .btn.flat {
        padding: 0;
        width: 1rem;
        height: 1rem;
        background: #fff;
        border-radius: 50%;
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
      &.slick-active {
        .btn.flat {
          background: $primary;
          transform: scale(1.1);
        }
      }
    }
  }
}

.home {
  margin-top: -1.25rem;
  .img-banner {
    overflow: hidden;
    border-radius: 1rem;
  }
}
