.ft-cats {
  overflow: hidden;
  .row {
    margin: -1.5rem;
    overflow: hidden;
  }
  img {
    object-fit: contain;
  }
}

.cat-banner {
  .-banner {
    min-height: 100%;
    overflow: hidden;
    img {
      object-fit: cover;
    }
    & > img:last-of-type {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -webkit-transition: opacity 0.5s ease-in-out;
    }
    &:hover > img:last-of-type {
      opacity: 0;
    }
  }
  .-header {
    border: $hr;
  }
}

.banner-slider {
  .-slide {
    &::before {
      padding-bottom: 38%;
    }
    img {
      object-fit: cover;
      object-position: center;
    }
  }

  .slick-dots {
    position: absolute;
    display: inline-flex !important;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    li {
      padding: 0 0.25rem;
      .btn.flat {
        padding: 0;
        width: 2rem;
        height: 2px;
        transition: height 0.3s ease;
        background: #fff;
        border-radius: 0;
        &:hover {
          height: 0.5rem;
        }
      }
      &.slick-active {
        .btn.flat {
          height: 0.5rem;
          background: #fff;
        }
      }
    }
  }
}

.home {
  margin: -3rem 0 -2rem;
}
