.login {
  min-height: calc(100vh - 8.25rem - 1px);
  form {
    max-width: 100%;
    width: 320px;
    padding: 1rem 0;

    input {
      width: 100%;
      padding: 1rem 3rem 1rem 1rem;
    }

    h5 {
      padding-bottom: 1rem;
    }
    .btn.flat {
      background: $blue;
    }
    .btn.flat,
    .btn.slim {
      width: 100%;
    }
    .btn.slim {
      color: $blue;
      border-color: $blue;
      line-height: 1;
      font-weight: 700;
      font-size: 0.875rem;
    }
  }
}
