.login-banner {
  background: linear-gradient(-45deg, #2b3b92, #e73c7e, #44529f, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.login {
  min-height: calc(100vh - 11rem);

  form {
    max-width: 100%;
    width: 320px;
    padding: 1rem 0;

    input {
      width: 100%;
      padding: 1rem 3rem 1rem 1rem;
    }

    h5 {
      padding-bottom: 1rem;
    }
    .btn.flat {
      background: $blue;
    }
    .btn.flat,
    .btn.slim {
      width: 100%;
    }
    .btn.slim {
      color: $blue;
      border-color: $blue;
      line-height: 1;
      font-weight: 700;
      font-size: 0.875rem;
    }
  }
}
