.news {
  img {
    object-fit: cover;
  }
  &-banner {
    position: relative;
    border-radius: 0.75rem;
    overflow: hidden;
    &-tag {
      position: absolute;
      left: 0;
      background-color: #f0c808;
      top: 2rem;
      border-radius: 0 0.75rem 0.75rem 0;
    }
    .-content {
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      top: 0;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: flex-start;
      color: #fff;
      background: linear-gradient(
        0deg,
        rgb(57, 57, 77),
        rgba(57, 57, 77, 0) 50%
      );
      .-tag {
        font-weight: 500;
      }
      .btn.slim {
        color: #fff;
        text-transform: uppercase;
        padding: 0.75rem 1.5rem;
        border-color: #fff;
        font-weight: 600;
      }
    }
  }
  &-header {
    align-items: stretch;
    .col-12.col-md-4 {
      overflow: hidden;
      position: relative;
    }
  }

  &-thumb {
    flex-wrap: nowrap;

    .img-wrap {
      max-width: 140px;
      flex: 0 0 140px;
      margin-right: 1rem;
      border-radius: 0.75rem;
      overflow: hidden;
    }
    big {
      padding-bottom: 1rem;
    }
    + .news-thumb {
      margin-top: 1rem;
    }
  }
  &-item {
    font-weight: 500;
    a {
      color: #000;
    }
  }
  &-slider {
    margin: 0 -0.5rem;
    &-item {
      big {
        padding-top: 0.5rem;
      }
      .img-wrap.ratio::before {
        padding-bottom: 64.25%;
      }
      .news-item-content {
        width: 100%;
      }
    }
    // .slick-prev,
    // .slick-next {
    //   position: absolute;
    //   top: -4%;
    //   right: 0%;
    //   transform: translateY(-50%);
    //   i {
    //     font-size: 1.25rem;
    //   }
    // }

    // .slick-prev {
    //   right: 2%;
    // }

    // .slick-list {
    //   padding-bottom: 3%;
    // }
  }
  &-video {
    &-item {
      .img-wrap {
        border-radius: 0.75rem;
        overflow: hidden;
        &::before {
          padding-bottom: 64.25%;
        }
        .-shadow {
          position: absolute;
          background-color: rgba($color: #000, $alpha: 0.2);
        }

        svg.play-logo {
          color: #fff;
          opacity: 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          vertical-align: middle;
          width: 2.75rem;
          height: 2.75rem;
        }
      }
      &-meta {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &-youtube {
    &-modal {
      width: calc(100vw - 3.5rem);
      padding: 0;
      .yt-video {
        iframe {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
      .modal-close {
        background-color: #fff;
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
}

.news-detail {
  a {
    color: $blue;
  }
  .-date {
    text-transform: uppercase;
    font-size: 1rem;
  }
  img {
    max-width: 100%;
  }
  .share {
    border-radius: 50%;
    font-size: 1.25rem;
    padding: 1rem;
    border: 1px dashed;
    &.-facebook {
      color: #475993;
      border-color: #475993;
    }
    &.-twitter {
      color: #1da2f2;
      border-color: #1da2f2;
    }
    &-container {
      gap: 1rem;
    }
  }
  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}

.aligncenter,
.alignleft,
.alignright {
  display: block;
  padding: 0;
}

.aligncenter {
  float: none;
  margin: 0.5em auto 1em;
}

.alignright {
  float: right;
  margin: 0.5em 0 1em 1em;
}

.alignleft {
  float: left;
  margin: 0.5em 1em 1em 0;
}

.wp-caption {
  padding: 5px 0;
  border: 1px solid #555;
  background: #444;
  text-align: center;
}

.wp-caption img {
  display: inline;
}

.wp-caption p.wp-caption-text {
  margin: 5px 0 0;
  padding: 0;
  text-align: center;
  font-size: 75%;
  font-weight: 100;
  font-style: italic;
  color: #ddd;
}

.wp-embed-aspect-16-9 {
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
  }
  iframe {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }
}
