.order {
  &-steps {
    overflow: hidden;
    padding: 0 0;
    &-step {
      svg {
        display: none;
        line-height: 30px;
        font-size: 14px;
      }
      p {
        line-height: 30px;
      }

      p,
      small {
        font-weight: 500;
      }
      .circle {
        border: 1px solid $blue;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        position: relative;
        color: $blue;
      }
      .px-2 {
        position: relative;
        background-color: #fff;
        display: inline-block;
      }
      &.checked {
        .circle {
          background: $blue;
        }
        svg {
          display: inline;
          color: #fff;
        }
        p {
          display: none;
        }
      }
      &.current {
        .circle {
          background: $blue;
        }
        p {
          color: #fff;
        }
        small {
          color: $blue;
        }
      }

      .circle {
        &::after {
          content: '';
          position: absolute;
          background-color: $blue;
          height: 1px;
          top: 50%;
          width: 999px;
          left: 40px;
        }
      }
      &:last-child {
        .circle {
          &::after {
            background-color: #fff;
            height: 3px;
            left: 32px;
          }
        }
      }
    }
  }
  &-item {
    border: $hr;
    position: relative;
    .counter {
      padding: 0.25rem 0;
      // flex-direction: column;
      .btn.ghost {
        font-size: 1rem;
        padding: 0.5rem 0.75rem;
      }
      input {
        font-size: 12px;
        margin: 0.25rem 0;
        padding: 0.5rem;
      }
    }
    .remainder {
      display: inline-block;
      border: $hr;
      border-radius: 4px;
      line-height: 24px;
    }
    &-loader {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba($color: #fff, $alpha: 0.4);
    }
  }
  &-info {
    // background-color: $bg-gray;
    border: $hr;
    &-item {
      // font-weight: 500;
      .col-7 {
        text-align: right;
      }
      &:not(:last-child) {
        padding-bottom: 12px;
      }
    }
    .btn.btn-type-primary {
      height: 44px;
    }
  }
  &-loyalty {
    border: $hr;
    transition: all 0.1s ease;
    small {
      display: block;
    }
    .rc-input {
      border-radius: 8px;
    }
    &.active {
      border-color: $blue;
      .bold {
        color: $blue;
      }
    }
  }
  &-sale {
    margin-right: -8px;
    margin-left: -8px;
    .slick-prev,
    .slick-next {
      position: absolute;
      top: -18px;
      right: 0%;
      transform: translateY(-50%);
      i {
        font-size: 1rem;
        color: $mid-gray;
      }
    }
    .slick-disabled {
      display: none !important;
    }
    .slick-prev {
      right: 3%;
    }
    .slick-next {
      right: 1%;
    }
  }
  &-address {
    input.inline {
      width: auto;
    }
    input[type='checkbox'] {
      height: 1rem;
      width: 1rem;
      &:checked {
        accent-color: $blue;
      }
    }
    .order-ebarimt {
      transition: height 0.3s ease-in-out;
      border: 1px solid rgba($color: #000000, $alpha: 0.12);
      border-radius: 0.5rem;
      &-company {
        padding: 1rem;
      }
      &-form {
        overflow: hidden;
      }
      label {
        cursor: pointer;
        margin-bottom: 0;
      }
      .-load {
        position: absolute;
        background-color: rgba($color: #fff, $alpha: 0.3);
      }
    }
    .-disabled {
      position: relative;
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
  &-detail {
    &-actions {
      justify-content: space-between;
    }
    &-leasing {
      width: 900px;
      max-width: 97vw;
      overflow: hidden;
      padding: 0;
      .erxes-form {
        div {
          max-height: 90vh;
        }
      }
    }
    &-direct {
      width: 400px;
      max-width: 97vw;
      overflow: hidden;
      .-pay-btn.btn {
        background: $blue;
      }
    }
  }
  &-end {
    display: flex;
    align-items: flex-start;
    svg {
      font-size: 1.5rem;
      min-width: 1.5rem;
      margin-right: 0.5rem;
    }
    .btn.ghost {
      padding: 0.5rem 0.75rem;
    }
    &-modal {
      min-height: 20vh;
      min-width: 20vh;
    }
  }
}

.sum {
  &-buy {
    background: $blue;
  }
}
.gm-fullscreen-control,
.gm-noprint,
.gmnoprint {
  display: none;
}
.google-map {
  a {
    display: none !important;
  }
}
.gmap {
  position: relative;
  &-btn.btn {
    background: $blue;
    font-size: 1.5rem;
    height: 2.75rem;
    width: 2.75rem;
    position: absolute;
    padding: 0;
    bottom: 1rem;
    right: 1.5rem;
    .ps-2 {
      padding-left: 0 !important;
    }
  }
}

.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  .-empty {
    width: 160px;
    height: 160px;
  }
}

.address {
  &-item {
    width: 100%;
    border: 1px solid rgba($color: #000, $alpha: 0.12);
    border-radius: 0.5rem;
    padding: 0.875rem;
    transition: all 0.3s;
    margin-bottom: 0;
    font-size: 14px;
    color: #000;
  }
  &-add {
    overflow: hidden;
  }
}
