.prDtl {
  .img-wrap {
    &::before {
      padding-bottom: 100%;
    }
    background-color: $bg-gray;
    img {
      object-fit: contain;
    }
    &.big-image {
      &::before {
        padding-bottom: 82%;
      }
    }
  }
  .img-nav {
    &-container {
      max-width: 100%;
      overflow: hidden;
    }

    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      svg {
        font-size: 1.25rem;
        color: #000;
      }
    }
    .slick-active.slick-current {
      opacity: 1;
      border-color: $blue;
    }
    .slick-slide {
      opacity: 0.9;
      border: 2px solid transparent;
    }

    .slick-disabled {
      opacity: 0;
    }

    .slick-prev {
      left: -50px;
    }
    .slick-next {
      right: -50px;
    }
  }

  .-controls {
    gap: 0.75rem;
    & > .btn {
      max-width: 40%;
      flex: 1 1 40%;

      &.slim {
        border: 2px solid $blue;
        color: $blue;
      }
      &.flat {
        background: $blue;
      }
    }
  }
  &-property {
    align-items: flex-start;
  }
  &-properties {
    margin: 0 -1rem;
    & > .col-md-6:first-child {
      border-right: $hr;
    }
  }

  &-code {
    font-weight: 400;
    font-size: 0.875rem;
  }

  &-remainder {
    border-top: $hr;
    border-bottom: $hr;
    font-weight: 400;
    font-size: 0.875rem;
    b {
      display: inline-block;
      background: #187d59;
      color: #fff;
      padding: 0.25rem 0.875rem;

      border-radius: 0.75rem;
    }
  }

  .wishlist-add {
    padding: 0.75rem 1rem;
    flex: 0 0 auto;

    svg {
      min-width: 1.5rem;
      font-size: 1.5rem;
      margin-right: 0.35rem;
      margin-left: -0.15rem;
    }
    .icon-secondary {
      fill: #ff3f5c;
    }
    .icon-primary {
      fill: $success;
      background-image: linear-gradient(to right, #fff, #fff);
    }
    // &.-long {
    //   transform: translateY(-0.35rem);
    // }
  }

  &-overview {
    &-intro {
      border-bottom: $hr;
    }

    &-desc {
      img {
        max-width: 100%;
      }
    }
    strong {
      color: $blue;
    }

    video {
      max-width: 100%;
    }
    .yt-video {
      position: relative;
      &::before {
        content: '';
        width: 100%;
        display: block;
        padding-bottom: 56.25%;
      }

      iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
    .promotion {
      img {
        width: 100% !important;
        height: auto !important;
      }
      & > * {
        width: 100%;
      }
    }
  }
  &-review {
    .rc-rate {
      font-size: 1rem;
      &-star {
        margin-right: 4px;
      }
    }

    .review-write {
      .rc-rate {
        font-size: 1.5rem;
        &-star {
          margin-right: 8px;
        }
      }
      textarea {
        min-height: 120px;
        padding: 0.75rem 1rem;
      }
      .btn {
        b {
          vertical-align: baseline;
        }
      }
    }
  }
  &-qa {
    .qa {
      &-write {
        text-align: right;
        .btn.btn-type-primary {
          width: auto;
          display: inline;
        }
        textarea {
          min-height: 120px;
        }
      }
    }
  }
  .related {
    margin: -8px;
    .img-wrap {
      margin: 0 1.5rem;
    }
    .product {
      z-index: 10;
      &-name {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
      &-badge {
        top: 0.75rem;
        right: 0.75rem;
      }
    }
    .slick-prev,
    .slick-next {
      position: absolute;
      cursor: pointer;
      top: -1.25rem;
      transform: translateY(-50%);
      i {
        font-size: 1rem;
      }
    }
    .slick-disabled {
      opacity: 0;
    }
    .slick-slide {
      padding-bottom: 1rem;
    }

    .slick-prev {
      right: 2rem;
    }
    .slick-next {
      right: 1rem;
    }
  }
}

.buy-btn {
  &.flat {
    background: $blue;
    padding: 1rem 2rem;
  }
}

.review-write-modal {
  .rc-rate {
    font-size: 32px;
    &-star {
      margin: 0 0.5rem !important;
    }
  }
}

.storepay {
  &-modal {
    width: 768px;
    max-width: 100vw;
    padding: 3rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.15px;
    font-weight: 400;
    h6 {
      font-weight: 400;
      color: #000;
    }
    .app-store {
      border-radius: 10px;
      overflow: hidden;
    }
    .buy-btn {
      min-width: 40%;
    }
  }
  &-plan {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    &__item {
      padding: 1rem;
      width: 100%;
      justify-content: flex-start;
      svg {
        font-size: 2.5rem;
      }
      h6 {
        font-weight: 700;
      }
      .-svg {
        position: relative;
        > h6 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          svg {
            font-size: 1.25rem;
          }
        }
      }
      .-text {
        text-align: left;
        span {
          color: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
