.products {
  margin: -0.625rem;
  padding-bottom: 2rem;
  .col-md-4 {
    padding: 0.625rem;
  }
  .banner {
    background: $blue;
    &.ratio1x1 {
      aspect-ratio: 1/1;
    }
    &.ratio1x3 {
      aspect-ratio: 1 / 2.5;
    }
  }
  &-loadmore {
    background: $mid-gray;
    color: #fff;
    width: 100%;
  }
}
.mobile-cats {
  overflow-x: auto;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  .btn.slim {
    padding: 0.75rem;
    white-space: nowrap;
    width: auto;
    overflow: initial;
    display: inline-block;
    &.-active {
      background: $blue;
      color: #fff;
    }
  }
}
