.products {
  margin: 0 -0.625rem;
  .col-md-4 {
    padding: 0.625rem;
  }

  &-loadmore {
    background: $mid-gray;
    color: #fff;
    width: 100%;
  }
  &-header {
    border-bottom: $hr;
    justify-content: space-between;

    &-count {
      font-weight: 500;
      font-size: 15px;
    }
  }
  &-cat {
    border-right: $hr;
    &-title {
      border-bottom: $hr;
      padding-bottom: 14px;
      padding-top: 11px;
      margin-bottom: 16px;
    }
  }
}
.mobile-cats {
  overflow-x: auto;
  gap: 1rem;
  width: 100%;
  .btn.slim {
    padding: 0.75rem;
    border-radius: 1rem;
    white-space: nowrap;
    width: auto;
    overflow: initial;
    display: inline-block;
    &.-active {
      background: $blue;
      color: #fff;
    }
  }
}
