.profile {
  &-main {
    .-content {
      min-width: 15rem;
    }
  }

  &-btn {
    padding: 0.505rem;
    color: #fff;
    svg {
      font-size: 1.625rem;

      .-secondary {
        fill: $primary;
      }
      .-primary {
        opacity: 0.8;
        transition: all 0.2s ease;
      }
    }
    &:hover {
      svg {
        .-primary {
          opacity: 1;
        }
      }
    }
  }

  &-item {
    outline: none;
    transition: all 0.3s ease;
    border-radius: 0.5rem;
    font-size: 14px;

    & > span {
      color: $bg-primary;
      background: rgba($color: $bg-primary, $alpha: 0.12);
      line-height: 1;
      font-size: 0;
      padding: 0.625rem;
      border-radius: 50%;
      margin-right: 0.75rem;
      svg {
        line-height: 1;
        font-size: 1.25rem;
      }
    }
    &:hover {
      background: rgba($color: #000000, $alpha: 0.06);
      color: $bg-primary;
    }
  }
  .-order-item {
    border: 1px solid rgba($color: #000, $alpha: 0.12);
    font-weight: 600;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    p {
      font-weight: 500;
      font-size: 0.875rem;
    }
  }

  &-back.btn {
    color: rgba($color: #000, $alpha: 0.6);
    padding: 0;
    font-weight: 500;
    font-size: 1.15rem;
    &:hover {
      background: transparent;
    }
  }
}

.profile-tabs {
  .sbt {
    margin: 10px;
  }
  .rc-input-affix-wrapper {
    .rc-input {
      padding: 0 12px;
    }
    margin-bottom: 1rem;
  }

  .save-button {
    width: 30%;
    left: 70%;
  }
}

.my-orders-title {
  margin-left: 20px;
}

.about-points {
  .point-detail {
    margin-top: 10px;
    border: 1px solid gray;
    color: #39394d;
    font-size: 14px;
    border-radius: 24px;
    padding: 15px;
  }
}

.wish-list-basket {
  position: absolute;
  right: 25%;
  bottom: -8%;
}

.order-status {
  background: $warning;
  height: 1rem;
  width: 1rem;
  border-radius: 0.25rem;
  &.green {
    background: $success;
  }
}
