@media (max-width: 480px) {
  .news-detail {
    .news-banner-tag {
      font-size: 5px;
    }
  }
  .py-md-2 {
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
  }
  .news-banner {
    .news-banner-tag {
      font-size: 8x;
    }
    .news-banner-content {
      font-size: 8px;
      h5 {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 680px) {
  .news {
    padding: 10%;
  }
}

@media (max-width: 768px) {
  header {
    .logo {
      height: 2.5rem;
    }
  }
  .tabs {
    &-trigger.btn.ghost {
      a {
        padding: 0.75rem;
      }
    }
  }
  .cat-banner {
    .-slider {
      margin: 1rem -0.5rem;
      .slick-prev,
      .slick-next {
        display: none !important;
      }
    }
    .img-wrap {
      padding-bottom: 120%;
    }
  }
  .banner-slider {
    .-slide {
      &::before {
        padding-bottom: 133%;
      }
      .-desktop {
        display: none;
      }
    }
    .slick-next,
    .slick-prev {
      display: none !important;
    }
  }
  .profile {
    .-order-item {
      .col-12.col-md-3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
        .text-mid-gray {
          font-size: 1rem;
        }
      }
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }
  .order-detail {
    .-main {
      border: 0;
    }
  }
  .products-header {
    .sbt.pe-2 {
      display: none;
    }
  }
  .product-name {
    -webkit-line-clamp: 2;
    height: 3rem;
  }
  .ratio-md-2x3 {
    &::before {
      padding-bottom: calc(100% / 2 * 3);
    }
  }
  .order-summary {
    position: fixed;
    bottom: 4.5rem;
    background: #fff;
    z-index: 20;
    left: 0;
    right: 0;
    padding: 1.5rem 1rem;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
    .order-info {
      border: 0;
    }
    border-radius: 1rem 1rem 0 0;
  }
  .prDtl {
    .-controls {
      gap: 0;
      & > .btn {
        padding: 0.95rem;
        &.slim {
          max-width: 60%;
          margin-left: 1rem;
        }
        &.flat {
          max-width: 100%;
          flex: 1 1 100%;
          margin-top: 1rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    display: none;
  }
  .banner-slider {
    .-slide {
      .-mobile {
        display: none;
      }
    }
  }

  * {
    &::-webkit-scrollbar {
      width: 8px !important;
      border-radius: 23px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 23px;
      background: #b2b2b2;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #8e8e8e;
    }
  }
  .prDtl {
    .-controls {
      flex-wrap: nowrap;
      & > .btn {
        padding: 0.95rem;
        border: 2px solid transparent;
      }
    }
  }
}
