@media (max-width: 1010px) {
  .login {
    .login-wrapper {
      padding: 10%;
    }
  }
}

@media (max-width: 910px) {
  .news-banner {
    .news-banner-tag {
      font-size: 10px;
    }
    .news-banner-content {
      font-size: 10px;
      h5 {
        font-size: 10px;
      }
    }
  }
}
