.erxes-topbar {
  background: #0a107b !important;
}
.erxes-form .erxes-form-content {
  background-color: #f8f8fa;
  padding: 1% 8% 2%;
}
.erxes-form .erxes-form-content h2 {
  margin-top: 2rem;
}

.erxes-form-fields .form-group {
  padding: 0 8px;
  position: relative;
}

.form-group .form-control:not([type='checkbox']) {
  height: 48px;
  line-height: 34px;
  border-radius: 0;
  box-shadow: 0;
  border-color: #d1d3d8;
  background-color: #ffffff;
}
.form-group .control-label {
  color: #535b6c;
}
.erxes-button {
  background: #0a107b;
  margin: 5px;
  padding: 1rem;
  font-size: 16px;
  margin-top: 2rem !important;
  width: unset !important;
  float: right;
}
.form-group .error {
  margin: 0;
}
.erxes-form .erxes-form-content p {
  background: none;
  padding: 0;
  font-size: 18px;
}
