.border-bottom {
  border-bottom: 1px solid #e5e7f1;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.text-center {
  text-align: center;
}
.w-100 {
  width: 100%;
}
.relative {
  position: relative;
}
.badge {
  background-color: $danger;
  border: 3px solid $bg-primary;
  position: absolute;
  z-index: auto;
  min-width: 1.3rem;
  padding: 0 4px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  text-align: center;
  background: #ff4d4f;
  border-radius: 50%;
  top: 0;
  right: 0;
}
.bg-white {
  background-color: #fff;
}
.bg-blue {
  background: $blue;
}
.bg-red {
  background-color: $red;
}
.bg-green {
  background-color: $dark-green;
}
.bg-shade-gray {
  background-color: rgba($color: #000, $alpha: 0.05);
}
.rounded {
  border-radius: 12px;
  &-lg {
    border-radius: 24px;
  }
}
.circle {
  border-radius: 50%;
}

.container {
  max-width: 1600px;
  width: 100%;

  margin: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  &.c-xl {
    max-width: 1216px;
  }
  &.c-lg {
    max-width: 998px;
  }
  &.c-md {
    max-width: 768px;
  }
}

.hover-scroll {
  overflow-y: hidden;
  &:hover {
    overflow-y: overlay;
  }
  &.-x {
    overflow-x: hidden;
    &:hover {
      overflow-x: overlay;
    }
  }
}

.hover-scroll {
  &::-webkit-scrollbar {
    width: 3px !important;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba($color: #000, $alpha: 0.2);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $mid-gray;
  }
  &.-x {
    &::-webkit-scrollbar {
      height: 4px !important;
    }
  }
}

.img-wrap {
  position: relative;
  display: block;
  width: 100%;
  &::before {
    display: block;
    width: 100%;
    content: '';
  }
  svg {
    width: 50%;
    height: 50%;
    opacity: 0.5;
    position: absolute;
    top: 25%;
    left: 25%;
  }
}

.hr {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.08);
}

.yt-video {
  &::before {
    padding-bottom: calc(100% / 16 * 9);
  }
}
.ratio11x100 {
  aspect-ratio: 100 / 11;
  width: 100%;
}

.ratio3x1 {
  &::before {
    padding-bottom: calc(100% / 3);
  }
}

.ratio1x1 {
  &::before {
    padding-bottom: 100%;
  }
}

.ratio {
  &::before {
    content: '';
    display: block;
    width: 100%;
  }
  width: 100%;
}
.r-4x3 {
  &::before {
    padding-bottom: calc(4 / 3 * 100%);
  }
}

.mh-100 {
  min-height: 100%;
}
.min-height-screen {
  min-height: 100vh;
}

.min-h-full {
  min-height: 100vh;
}
.box-shadow-none {
  box-shadow: none;
}

.w-full {
  width: 100%;
}
.max-width-full {
  max-width: 100%;
}

.inset-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scroll {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;
}
