body {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-variant: tabular-nums;
  line-height: 1.5;
  background-color: #fff;
  font-feature-settings: 'tnum';
  overflow-x: hidden;
  width: 100vw;
  overflow-y: overlay;
}

html {
  font-size: 14px;
}

a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  text-decoration: none;
  outline: 0;
}
a:focus {
  text-decoration: none;
  outline: 0;
}
a[disabled] {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

li {
  list-style: none;
}

label {
  display: block;
  color: $blue;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.loading {
  width: 100%;
  min-height: 100%;
  font-size: 15rem;
  opacity: 0.3;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0.24;
    transform: translateY(0px);
  }
}
